body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the container height to the full viewport height */
}

.flex-box {
    border: 0px solid #3498db;
    padding: 20px;
    width: 80%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
background-color: #eeeeee;
#flex-box-1 {
    color: white;
    font-family: clicker script;
}

#flex-box-2 {
    font-size: 12px;
    color: #cce7e8;
    background-color: #032f66;
    color: white;
}

#flex-box-3 {
    font-size: 12px;
    color: #cce7e8;
    background-color: #9e1b10;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #2980b9;
}
